<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>assets</key>
				<array>
					<dict>
						<key>kind</key>
						<string>software-package</string>
						<key>url</key>
						<string>http://ios.update.n.miliao.com/daily/smartmi/app/ipa/smartEnv.ipa</string>
					</dict>
				</array>
				<key>metadata</key>
				<dict>
					<key>bundle-identifier</key>
					<string>com.smartmi.smartmilive</string>
					<key>kind</key>
					<string>software</string>
					<key>title</key>
					<string>SmartMi App Daily</string>
					<key>version</key>
					<string>0.1.10</string>
					<key>description</key>
					<string>SmartMi App Daily</string>
				</dict>
			</dict>
		</array>
	</dict>
</plist>
